@font-face {
  font-family: SpaceMono;
  src: url('../public/SpaceMono-Regular.ttf');
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: auto;
  font-family: SpaceMono;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}