.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  max-width: 800px;
  padding: 4rem 0;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.me {
  border-radius: 50%;
}

.title {
  margin-top: 50px;
  line-height: 1.15;
  font-size: 2.5rem;
  font-weight: bold;
}

.description {
  line-height: 1.5;
  font-size: 1.2rem;
}

.divider {
  width: 5rem;
  margin: 2rem 0;
  border-bottom: 3px solid black;
}

.links {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.link {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  transform: scale(1.3);
}

.introduction {
  line-height: 1.5;
}

.email {
  display: flex;
  gap: 0.5rem;
  padding: 10px 15px;
  margin-top: 2rem;
  border-radius: 30px;
  border: 1px solid black;
}