.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  max-width: 800px;
  padding: 4rem 0;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.avatar {
  margin-left: -55px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.description {
  line-height: 1.5;
  font-size: 1.2rem;
}

.divider {
  width: 5rem;
  margin: 2rem 0;
  border-bottom: 3px solid black;
}

.links {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.link {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  transform: scale(1.3);
}

.introduction {
  font-size: 1.2rem;
  line-height: 1.5;
}

.email {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
  padding: 0.8rem 1rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 5px;
  border: 3px solid black;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 680px) {
  .footer {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #333;
  }

  .link {
    border-color: white;
  }

  .container img {
    filter: invert(1);
  }
}